:root {
	background: url(/knabino-magia/wallpaper.jpg) fixed center no-repeat;
	background-size: cover;
	font: normal x-large system-ui, sans-serif;
	color: white;
}

body {
	margin: 0;
	min-height: 100vh;
	background: #1118;
}

header, article, #TableOfContents {
	padding: 1rem
}

header {
	text-align: center;
}

header h1 {
	font-variant: small-caps;
}

article {
	width: 960px;
	margin: auto;
}

table, pre {
	padding: 1rem;
	background: #2E3440;
	border-radius: 1rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0 0 .5rem 0;
}

a {
	text-decoration: none;
	color: inherit
}

.topnav {
	padding: 1rem;
	font-variant: small-caps;
}

.topnav__menus * {
	margin: auto .5rem;
	font-size: large;
}

@media screen and (max-width: 960px) {
	article {
		width: auto;
	}
}
