<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ replace .Name "-" " " | title }} | {{ .Site.Title}}</title>

	<link rel="stylesheet" href="/knabino-magia/style.css" />

	<link rel="icon" href="/knabino-magia/favicon.ico">
	<link rel="icon" href="/knabino-magia/favicon.svg">
</head>

<body>
	<main>
		{{- partial "nav.html" . -}}
		{{- block "main" . }}{{- end }}
		{{- partial "footer.html" . -}}
	</main>
</body>

</html>