:root {
	/* canva pink sky palette */
	--canva0: #1a364e; --canva1: #162a40;
	--canva2: #a35c6e; --canva3: #cb808b;
	--canva4: #e9abb1;
}

/* BUILDING BLOCKS */

body {
	margin: 0;
	min-height: 100vh;
	background: var(--canva0);
	color: var(--canva4);
	font: normal x-large 'Trebuchet MS', sans-serif;
}

main {
	margin: auto;
	width: 1280px;
}

header, article, footer, section {
	padding: 1rem
}

footer {
	font-size: medium;
}

blockquote {
	margin: 1em 0;
	padding: .5em 1em;
	border-radius: 1em;
}

table, pre {
	padding: 1rem;
	border-radius: 1rem;
}

hr {
	border: 2pt solid var(--canva4);
}

.thumbnail {
	height: 20em;
}

.color_reversal {
	background: var(--canva4);
	color: var(--canva0);
}

/* Navigation Bar */

.topnav {
	padding: 1em .5em;
	font-variant: small-caps;
}

.topnav__menus * {
	margin: auto .5rem;
	font-size: large;
}

/* Banner */

.home__banner {
	background: url(banner.jpg) center center;
	background-size: cover;
	color: var(--canva0);
	text-align: center;
	border-radius: 1em;
}

.home__banner h1 {
	margin: .2em; font-weight: bolder;
}

.home__icon {
	height: 40vh;
}

/* List Page */

.list {
	text-align: center; gap: 1em; display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.list__header {
	padding-top: 0;
	padding-bottom: 0;
}

.list__item {
	border-radius: 1em;
}

.list__thumb {
	width: 100%;
	height: auto;
}

/* TEXT */

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: .5em 0;
}

h1, h2, h3 {
	border-radius: .2em;
	font-variant: small-caps;
}

header h1:not(.home__title) {
	width: max-content;
	margin: 0;
	padding: .2em .4em;
	background: var(--canva4);
	color: var(--canva0);
	border-radius: .5em;
}

a {
	color: inherit;
	text-decoration: none;
}

article a {
	text-decoration: underline;
}

::selection, blockquote {
	background: var(--canva4);
	color: var(--canva0);
}

/* RESPONSIVE-NESS */

@media screen and (max-width: 1280px) {
	main {width: auto;}
	.home__banner {border-radius: 0;}
}
